.cell {
  position: relative;
  display: inline-block;
  background-color: aliceblue;
  height: 50px;
  line-height: 50px;
  margin: 5px;
  box-shadow: 0px 3px 0px 0px #587ca0;
}

.clicked {
  background-color: #7f8c8d;
  box-shadow: 0px 3px 0px 0px #34495e;
  transition: all ease 50ms;
}
