.result {
    position: absolute;
    top: 0px;
    left: 0%;
    height: 100vh;
    width: 100%;
}
.result-text {
    position: absolute;
    top: 37.5%;
    left: 32.5%;
    font-size: 122px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

.win {
    background-color: rgba(101, 211, 100, 0.5);
}
.lose {
    background-color: rgba(222, 1, 45, 0.5);
}

@media only screen and (max-width: 1300px) {
    .result-text {
        left: 23.5%;
    }
}

@media only screen and (max-width: 900px) {
    .result-text {
        left: 0%;
    }
}
